body{
    font-family: 'Open Sans', sans-serif;
	background-color: #f5f9fc;
}

#menu
{
	list-style-type: none;
	/* overflow: hidden; */
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	/* height: 35px; */
	background-color: #979797;
}
#menu li {
	float: left;
	width: 14.28%;
	text-align: center;
	}
	
#menu li a {
	display: inline-block;
	color: white;
	text-align:center;
	width: 75%;
	padding: 14px 16px;
	text-decoration: none;
}

#menu li a:hover {
background-color: #707070;
}

table{
	/* list-style-type: none; */
	/* display: inline; */
	width:100%;
	direction: rtl;
	float: right;
	border: 1px solid black;
   }
th, td {
	border: 1px solid black;
	padding: 15px;	
}

tr:hover {
	background-color: #e6e6e67e;
}



/* .useCase{
	padding: 100px;
} */


h2 {
	width: 100%; 
	text-align: center; 
	border-bottom: 5px solid #979797; 
	line-height: 0.1em;
	margin: 10px 0 20px; 
 } 
 
 h2 span { 
	 background-color:#f5f9fc; 
	 padding:0 2px; 
 }

 .aboutMe {
	 text-align: center;
	 padding-top: 10px;
	 /* position:relative; */
	 justify-content: center;
 }

 .abtImg {
	 width: 10%;
	 height: 10%;
	 /* overflow: hidden;
	 position:relative; */
 }

 section {
	 text-align: center;
 }

 .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 24%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
  }

  /* textarea {
	/* width:100%; */
	resize: vertical;
	padding:15px;
	margin: 10px;
	border-radius:15px;
	border:0;
	box-shadow:4px 4px 10px rgba(0,0,0,0.06);
	height:150px;
  } */
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }

  .form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}

